# Django
DJANGO_SETTINGS_MODULE="config.django.production.api"
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=

# Database
DATABASE_URL=

# Cache
CACHE_URL=

# Clerk
CLERK_PUBLISHABLE_KEY=
CLERK_API_SECRET_KEY=
